# -*- coding: utf-8 -*-
# vim: ft=yml

{% import_yaml 'filebeat/defaults.yaml' as defaults %}

{% set filebeat = salt['pillar.get'](
        'filebeat',
        default=defaults.filebeat,
        merge=True
    )
%}

{% set conf = salt['grains.filter_by']({
    'Debian': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
    'Ubuntu': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
    'RedHat': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
    'CentOS': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
    'Suse': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
    'FreeBSD': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/filebeat.jinja',
    },
}, merge=salt['pillar.get']('filebeat:lookup')) %}

