filebeat:
  lookup:
    config_path: /etc/mycustom/filebeat/filebeat.yml
    config_source: salt://mycustom/filebeat/filebeat.jinja
    runlevels_install: True
  log_paths:
    -
      input_type: log
      paths:
        - '/var/log/auth.log'
        - '/var/log/syslog'
        - '/var/log/messages'
        - '/var/log/secure'
      document_type: syslog
      ignore_older: 24h
      scan_frequency: 10s
      backoff: 1s
      max_backoff: 10s
      backoff_factor: 2
      force_close_files: false
      fields_under_root: false
      close_older:  1h
    -
      input_type: log
      paths:
        - '/var/log/apache2/access.log'
      document_type: 'syslog'
      ignore_older: '24h'
      close_older: '2h'
      multiline.pattern ^[[:digit:]]{4}-[[:digit:]]{2}-[[:digit:]]{2}
      multiline.negate: 'true'
      multiline.match: 'after'
      include_lines: ['^[[:digit:]]{4}-]
      exclude_lines: ['^DBG','^WARN']
    -
      input_type: log
      paths:
        - '/var/log/example/*.json'
      json.message_key: json
      json.keys_under_root: true
      json.add_error_key: true

  logging:
    enabled: True
    path: /var/log/filebeat
    name: filebeat
    rotateeverybytes: 10485760 #
    keepfiles: 7

  redis:
    enabled: False
    hosts:
      - 127.0.0.1
    key: filebeat

  elasticsearch:
    enabled: False
    server: 127.0.0.1:9200

  logstash:
    enabled: True
    server:
      - logstash-shipper1:5044
      - logstash-shipper2:5044

    tls:
      enabled: True
      # path to the certificate of your ELK server
      # set to empty to use system certificates
      ssl_cert_path: /etc/pki/tls/certs/logstash-forwarder.crt
      # path to the certificate of your ELK server to be installed
      # default is salt://filebeat/files/ca.pem
      # set to empty to disable
      ssl_cert: salt://mycustom/filebeat/logstash-forwarder.crt
      # If you want to manage your own certs, set below to False
      managed_cert: False
